@model int

@{
    ViewData["Title"] = "404 - Not Found";
}

<div class="alert alert-danger mt-1 mb-1">
    <h1>Erro 404 - Not Found</h1>
    <hr/>
    <h4>Pedido com o ID = @Model não foi encontrado</h4>
</div>

<a asp-action="Index" class="btn btn-outline-primary">
    Retornar a lista de pedidos
</a>