@model IEnumerable<LanchesMVC.Models.Lanche>

@{
    ViewData["Title"] = "Lista";
}

<div>
    <h2>Todos os lanches</h2>
</div>

@foreach (var lanche in Model)
{
    <div>
        <h4> Lanche : @lanche.Nome </h4>
        <p> <img src="@lanche.ImagemUrl"/> </p>
        <p> Preço : R$  @lanche.Preco.ToString() </p>
    </div>
}