@model LancheListViewModel

<div class="container">
    <div class="row">
        @foreach (var lanche in Model.Lanches)
        {
            <partial name="_LancheResumo" for="@lanche"/>
        }
    </div>
</div>